body {
    background-color: aqua;
  }
  h1 {
    margin-top: 0px;
    margin-bottom: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-size: 600px;
    color: rgb(19, 1, 1);
  }
  
  #startBtn button {
    display: inline;
    inline-size: 14px;
  }
  
  #img1 {
    background-position: 0px 0px;
  }
  
  #img2 {
    background-position: -200px -0px;
  }
  
  #img3 {
    background-position: -400px -0px;
  }
  
  #img4 {
    background-position: -0px -200px;
  }
  
  #img5 {
    background-position: -200px -200px;
  }
  
  #img6 {
    background-position: -400px -200px;
  }
  
  #img7 {
    background-position: -0px -400px;
  }
  
  #img8 {
    background-position: -200px -400px;
  }
  
  #img9 {
    background-position: -400px -400px;
  }